---
import ThemeToggle from './ThemeToggle.astro';
import Icon from './Icon.astro';

const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			Made in Grand Rapids, USA with <Icon icon="heart" size="1.2em" />. &copy; {currentYear}
			Lee Flannery
		</p>
		<div class="socials">
			<a href="https://linkedin.com/in/leeflannery"> LinkedIn</a>
			<a href="https://threads.net/fullstackdrip"> Threads</a>
			<a href="https://bsky.app/profile/fullstackdrip.com"> Bluesky</a>
			<a href="https://twitter.com/fullstackdrip"> Twitter</a>
			<a href="https://instagram.com/fullstackdrip"> Instagram</a>
			<a href="https://github.com/leeflannery"> GitHub</a>
		</div>
		<ThemeToggle />
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		align-items: center;
		padding: 3rem 2rem 3.5rem;
		text-align: center;
		font-size: var(--text-sm);
		color: var(--gray-400);
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}

	.socials {
		display: flex;
		gap: 1rem;
	}

	a {
		color: var(--gray-400);
		text-decoration: 1px dotted underline;
		text-underline-offset: 0.25em;
	}

	a:hover {
		color: var(--gray-100);
	}

	:global(footer .group) {
		padding: 2rem 0;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}

		.group {
			flex-direction: row;
			gap: 2rem;
		}

		:global(footer .group) {
			padding: 0;
		}
	}
</style>
